.button {
    display: inline-block;
  }
  
  .button a {
    display: inline-block;
    background-color: white;
    color: #333;
    font-family: "dunbar-tall", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    padding-right: 11px;
    text-decoration: none;
    border-radius: 25px;
    width: 100%; 
  }
  
  .button img {
    height: 2rem;
    width: 2rem; 
  }

  .demo-button:hover img {
    content: url("/src/assets/button-icons/live-demo-light.svg");
  }

  .code-button:hover img {
    content: url("/src/assets/button-icons/github-light.svg");
  }
  
  .button-content-wrapper {
    display: flex;
    align-items: center;
  
  }

  .btn-wrapper-projects {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .button a:hover {
    background-color: var(--blue);
    color: var(--white);
    fill: var(--white)
  }

  @media (min-width:450px) {
    .btn-wrapper-projects {
      flex-direction: row;
    }
    .button {
      width: 100%;
    }
  }