header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--whiteTransparent);
    z-index: 1000;
}

.header-logo {
    width: 2.5rem; 
}

.navigation ul {
    
    list-style-type: none ;
    display: flex;
    justify-content: space-between;
    gap: 1rem; 
}

.navigation ul li {
    font-family: "dunbar-tall", sans-serif;
}

.navigation ul li:hover {
    color: var(--blue);
}