.skills-section {
    margin: 0 -16px; 
    background-color: var(--deepGreen);
  }
  
  .skills-wrapper {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 128px 16px;
    gap: 64px;
  }
  
  .single-list-wrapper {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .sub-heading-skills {
    width: fit-content;
    margin: 0  auto 16px;
    background-color: var(--plum);
    color: var(--white);
  }
  
  .skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
  }
  
  .skills-list p {
    margin-bottom: 0px;
  }

  /*So sorry I dont't have the tablet query on 744px here,
    but I just really don't think it looks good to have that much
    white space on the sides in this section. */
  @media (min-width: 600px) {
    .all-lists-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;

    }
    .sub-heading-skills {
        display: inline-block;
    }
    .skills-list {
        align-items: start;
    }
  }

  @media (min-width: 900px) {
    .all-lists-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }
  }