.tech-section {
    background-color: var(--deepGreen);
    color: var(--white);
    padding: 128px 16px;
    margin: 0px -16px; 
}
  
.tech-wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
  
.headings-tech {
    display: flex;
    align-items: center;
}
  
.tech-p {
    font-family: "Hind", sans-serif;
    font-weight: 600;
    font-size: 24px; 
}

@media (min-width: 744px) and (max-width: 1279px) {
    .tech-wrapper{
        align-items: center;
    }
    .tech-p {
        max-width: 600px ;
        text-align: center;
    }
}

@media (min-width: 1280px) {
    .tech-section{
        display: flex;
        justify-content: center;
    }
    .tech-wrapper {
        width: 747px;
        display: flex;
        flex-direction: row;
       
    }
    .tech-p {
        max-width: 500px;
    }
}