:root {
  margin: 0px 1rem; 
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #0e0e0e;
  --light: #c5d1d5;
  --white: #fff;
  --whiteTransparent: rgb(197, 209, 213, 0.5);
  --deepGreen: #455a00;
  --plum: #222245;
  --hover: #a9bb6c; 
  --blue: #336897; 
  background-color: var(--light);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}


/*MOVE TO APP.CSS*/
h1 { 
  font-weight: 100;
  font-size:larger;
}

h2 {
  font-size: 3rem;
  line-height: 0.9;
  font-family: "dunbar-tall", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 1rem;
}

.dark-h2 {
  color: var(--plum);
}

.light-h2 {
  color: var(--white);
}

h3 {
  font-size: 1.5rem;
  line-height: 0.9;
  font-family: "dunbar-tall", sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.bodytext {
  margin-bottom: 1rem;
}

.intro-body {
  text-align: end;
}

.body-bold {
  font-family: "dunbar-tall", sans-serif;
  font-size: 1.2rem;
}

/*PROFILBILD*/
.image-wrapper {
  display: flex;
}

.image-cropper {
  display: inline-block;
  position: relative;
  width: 13rem;
  height: 13rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.image-cropper > img {
  width: 100%;
  height: auto;
  margin-top: -15px;
}

/*LETS TALK*/
.letstalk-section {
  padding: 5rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4rem; 
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--black);
}

@media (min-width: 800px) {
  .letstalk-section {
    align-items: center;
  }
  .info-wrapper {
    align-items: center;
  }
}

